<!doctyoe html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>
<body>
<div ng-app="myApp" ng-controller="formCtrl">
<h1>Mega Travel</h1>
	<form>
		Adults (15+) <select ng-model="selectedNumOfAdults" ng-options="x for x in numOfAdults"></select><br>
		Children (0-14) <select ng-model="selectedNumOfChildren" ng-options="x for x in numOfChildren"></select><br>
		Departure Date: <input type="date" ng-model="selectedDepartureDate"></input><br>
		Return Date: <input type="date" ng-model="selectedReturnDate"></input><br>
		Destination: <select ng-model="selectedDestination" ng-options="x.City + ', ' + x.Country for x in myDestinations"></select><br>
		<button ng-click="submit()">Submit</button>
		<button ng-click="reset()">Reset</button><br>
		Activities Available:
		<ul>
			<li ng-repeat="x in selectedDestination.Activities">{{x}}</li>
		</ul>
	</form>
</div>
<script>
var app = angular.module('myApp', []);
app.controller('formCtrl', function($scope, $http) {
	$http.get("destinations.php").then(function (response) {
		$scope.myDestinations = response.data.destinations;
	});
	$scope.numOfAdults = [1,2,3,4,5,6,7,8,9];
	$scope.numOfChildren = [0,1,2,3];
	// 2 way data binding
	$scope.selectedNumOfAdults = 1;
	$scope.selectedNumOfChildren = 0;
	$scope.selectedDepartureDate = "";
	$scope.selectedReturnDate = "";
	$scope.selectedDestination = "";
	
});
</script>	
</body>
</html>